<portfolio>

  <div id="works-list">
    <div class="pure-g work" each={ work, i in works  }>
      <div class="pure-u-1-2 work-image">
        <img src="assets/img/portfolio/example.png" alt="">
      </div>
      <div class="pure-u-1-2 work-desc">
        <div class="work-title">{ work.title }</div>
        <div class="work-summary">{ work.summary }</div>
        <a href="#" class="pure-button">Подробнее</a>
      </div>
    </div>
  </div>
  
  <script>
  var self = this

  self.on("mount", function() {
    api.portfolio(function(works) {
      self.works = works.slice(0, opts.size)
      self.update()
    })
  })
  </script>
</portfolio>
