* {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  font-smooth:always;
  -webkit-font-smoothing: antialiased;
}
html {
  font-size: 26px;
  font-size: 1vw;
}
body {
  background: #f5f5f5;
  font-family: Bookerly, Georgia, sans-serif;
  color: #444;
  font-size: 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  line-height: 1.4;
}
#panel {
  position: absolute;
  top: 15px;
  left: 600px;
  width: 240px;
  padding: 15px 10px;
  display: none;
}
#panel h4,
#panel h5 {
  margin: 0 0 5px;
}
#panel ol, #panel ul {
  margin-top: 0;
}
#panel table {
  width: 70%;
  font-size: 16px;
  border-collapse: collapse;
}
#panel .block {
  margin-bottom: 10px;
}
.page {
  max-width: 920px;
  padding: 15px;
  margin: auto;
  display: none;
}
.page:target {
  display: block;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1.2em;
}
h1,
h2,
h3,
h4 {
  text-align: center;
}
ol, ul {
  list-style-position: inside;
  margin: 0 0 15px 0;
  padding: 0;
}
.page a {
  text-decoration: none;
  font-weight: bold;
  color: #222;
}
.page a::before {
  content: "[ ";
}
.page a::after {
  content: " ]";
}
.link {
  text-align: center;
}