body {
  padding-top: 3em;
  font-size: 0.7em;
}
#header {
  position: absolute;
  height: 3em;
  left: 0;
  top: 0;
  right: 0;
  border-bottom: 1px solid #dcdcdc;
  background: #ffffff;
}
.view {
  padding: 1rem;
  max-width: 60rem;
  margin: 0 auto;
}