body {
  padding-left: 12em;
  padding-top: 3em;
  font-size: 0.7em;
}
#sidebar {
  padding: 30px 15px;
  position: absolute;
  left: 0;
  top: 0;
  width: 12em;
  height: 100%;
  background: #222222;
}
#sidebar .nav-item a {
  display: block;
  color: #dddddd;
}
#sidebar .nav-item a:hover {
  color: #ffffff;
}
#sidebar .nav-item a:focus {
  box-shadow: 0 0 0 0.1rem rgba(255, 255, 255,.2);
}
#header {
  position: absolute;
  height: 3em;
  left: 12em;
  top: 0;
  right: 0;
  border-bottom: 1px solid #dcdcdc;
  background: #ffffff;
}