*, *::before, *::after {
  box-sizing: border-box;
  position: relative;
}
html, body, #root, .container {
  height: 100%;
}
a {
  color: #00adff;
  text-decoration: none;
}
a:hover {
  color: #3498db;
}
body {
  margin: 0;
  padding: 15px;
  line-height: 1.4;
  font-size: 14px;
  color: #444444;
  font-family: "Segoe UI", "Open Sans", Tahoma, sans-serif;
}
a:focus {
  background-color: rgba(0, 0, 0, 0.05);
}
.text-right {
  text-align: right;
}
.btn {
  display: inline-block;
  border: 1px solid #eeeeee;
  padding: 5px 10px;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  text-transform:
}
.btn.link {
  border: none;
  color: #00adff;
}
.btn.red {
  color: #ce2b2b;
}
.btn:hover {
  background: #f5f5f5;
}
.main {
  max-width: 920px;
}
.main .content {
  margin: 10px 0;
}
.view .btn {
  margin-right: 10px;
}
.title {
  margin: 20px 5px 5px;
  font-size: 17px;
}
.tabs .tab {
  border-bottom: 2px solid transparent;
  display: inline-block;
  padding: 10px;
  color: #999999;
}
.tabs .tab.active {
  border-bottom-color: #eeeeee;
  color: #000000;
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.loader,
.loader::after,
.loader::before {
  animation: loaderFade 0.9s ease-in-out infinite;
}
.loader::after, .loader::before {
  position: absolute;
  left: 100%;
  width: 5px;
  height: 5px;
  margin-left: 5px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  vertical-align: middle;
  animation-delay: 0.3s;
  content: "";
}
.loader::before {
  left: 200%;
  margin-left: 10px;
  animation-delay: 0.6s;
}
.controls {
  padding: 10px 0;
}
@keyframes loaderFade {
  50% { background-color: rgba(0, 0, 0, 1) }
  0%, 100% { background-color: rgba(0, 0, 0, 0.2) }
}
table {
  border-collapse: collapse;
  width: 100%;
}
table thead th {
  color: #000;
  padding: 10px;
  text-align: left;
  text-transform: uppercase;
  font-weight: normal;
}
table td {
  padding: 12px 10px;
}
dl::after {
  display: table;
  clear: both;
  content: "";
}
dl {
  margin: 0;
  padding: 5px 0;
}
dl dt, dl dd {
  display: block;
  margin: 0;
  padding: 5px 10px;
  min-height: 28px;
}
dl dt {
  float: left;
  width: 100px;
  text-align: right;
  color: #999999;
  font-size: 14px;
}
dl dd {
  overflow: hidden;
}
dl dd p:first-child {
  margin-top: 0;
}
input:not([type=checkbox]):not([type=radio]) {
  display: block;
  width: 100%;
  padding-bottom: 2px;
  font: inherit;
  border: none;
  border-bottom: 1px dotted #dddddd;
  outline: 0;
}
input:focus:not([type=checkbox]):not([type=radio]) {
  border-color: #000000;
}
dl dd input {
  margin: -1px 0 -3px;
}
.page_404 {
  padding: 25px 10px;
}
.description-list.edit-form {
  width: 560px;
}
.delete-view {
  padding: 10px;
}