*, *::before, *::after {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  box-sizing: inherit;
}
body {
  font: 300 14px/1.4 Roboto, Tahoma, sans-serif;
  color: #666;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  max-width: 720px;
  padding: 20px;
}
.todo:first-child {
  border-top: 1px solid #eee;
}
.todo {
  position: relative;
  padding: 15px 35px;
  border-bottom: 1px solid #eee;
}
.todo::after {
  display: table;
  clear: both;
  content: '';
}
.todo .checkbox {
  position: absolute;
  left: 10px;
  top: 15px;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}
.todo .checkbox:hover {
  background-color: #f0f0f0;
}
.todo.completed {
  background-color: #fbfbfb;
}
.todo.completed .checkbox {
  background-color: #eee;
}
.todo.completed .text {
  color: #ddd;
}
.todo.completed .checkbox::after {
  position: absolute;
  border-style: solid;
  border-color: #ccc;
  border-width: 0 0 2px 2px;
  width: 9px;
  height: 6px;
  content: "";
  transform: translate(4px, 4px) rotate(-45deg);
}
.todo .time {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 10px;
  color: #999;
  margin-top: -7px;
}
.add-todo {
  padding: 15px;
}
input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 8px;
  outline: none;
}
input:focus {
  border-color: #999;
}
button {
  border: none;
  border-radius: 2px;
  background: #444;
  padding: 8px 12px;
  color: #fff;
  margin: 5px 0;
  cursor: pointer;
  outline: none;
}
button:focus {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, .2);
}
button:hover {
  background: #555;
}
button:active {
  background: #333;
}