body {
  padding: 15px;
  background: #f9f9f9;
}
.navbar {
  padding: .8rem;
  border: .05rem solid #e7e9ed;
  background: #fff;
  margin-bottom: .8rem;
}
.table td {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 85%;
}
.panel {
  background: #fff;
}
.col-260px {
  width: 260px;
  flex: none;
}