*, *::before, *::after {
  box-sizing: border-box;
  position: relative;
}
html, body, #root, .container {
  height: 100%;
}
html {
  font-size: 14px;
}
a {
  color: #2980b9;
  text-decoration: none;
}
a:hover {
  color: #3498db;
}
h1, h2, h3 {
  font-weight: 400;
}
h4, h5 {
  font-weight: 500;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 0.9rem;
}
small {
  font-size: 90%;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: "Segoe UI", "Open Sans", Tahoma, sans-serif;
  color: #34495e;
}
header {
  position: absolute;
  top: 0;
  left: 15rem;
  right: 0;
  padding: 0.8rem 1.2rem;
  height: 3rem;
  border-bottom: 1px solid #eeeeee;
  text-align: right;
}
aside {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0.5rem 1.5rem;
  width: 15rem;
  border-right: 1px solid #eeeeee;
}
main {
  padding: 1rem;
  overflow-y: scroll;
  position: absolute;
  top: 3rem;
  left: 15rem;
  right: 0;
  bottom: 0;
}
menu {
  padding: 0;
  margin: 0.5rem 0;
}
menu a {
  display: block;
  padding: 0.5rem 0;
}
a.active {
  color: #444444;
}
table {
  border-collapse: collapse;
}
th {
  padding: 0.5rem;
  font-weight: 500;
  text-align: left;
  border-bottom: 2px solid #eeeeee;
}
td {
  padding: 0.5rem;
  border-bottom: 1px solid #eeeeee;
}
label {
  display: block;
  width: 100%;
  margin-top: 0.5rem;
  font-size: 11px;
  text-transform: uppercase;
}
label.checkbox {
  padding: 0.5rem 0;
}
input:not([type=checkbox]), select, textarea {
  display: block;
  width: 100%;
  border: 1px solid #dcdcdc;
  padding: 0.5rem;
  border-radius: 2px;
  font-family: inherit;
  font-size: 1rem;
  color: #555555;
}
input[type=checkbox] {
  border: 1px solid #dddddd;
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
  vertical-align: middle;
  margin: 0 1rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.col, .col-2 {
  flex: 1;
  max-width: 100%;
  padding-left: .5rem;
  padding-right: .5rem;
}
.col-2 {
  flex: 2;
}
.card {
  border: 1px solid #eeeeee;
  padding: 0.8rem 1rem;
}
.p-1 {
  padding: 0.5rem;
}
.p-2 {
  padding: 1rem;
}
.mt-1 {
  margin-top: 0.5rem;
}
.mt-2 {
  margin-top: 1rem;
}
.mb-1 {
  margin-bottom: 0.5rem;
}
.mb-2 {
  margin-bottom: 1rem;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.75);
  z-index: 1;
}
.modal-body {
  width: 480px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border: 1px solid #dddddd;
  border-radius: 2px;
}
.modal-header {
  padding: 1rem 1rem 0;
  position: relative;
  height: 3rem;
  font-size: 16px;
}
.modal-title {

}
.modal-close {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  cursor: pointer;
  width: 2rem;
  text-align: center;
}
.modal-content {
  padding: 1rem;
}
.modal-footer {
  padding: 1rem;
  text-align: right;
}
.modal-footer button {
  margin-right: 0;
  margin-left: 1rem;
}
.layout, .container {
  height: 100%;
}
button {
  padding: 0.5rem 1rem;
  font-family: inherit;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: inherit;
  background: #ffffff;
  cursor: pointer;
}
button.red {
  border-color: #ff0000;
  color: #ff0000;
}
button.link {
  border: none;
}
[disabled] {
  cursor: default;
  opacity: 0.5;
}
