*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
container,
aside,
header,
itemslist,
content {
  display: block;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;  
  color: #444;
  background-color: #fff;
}
.pure-menu-heading {
  text-transform: none;
  font-weight: bold;
  border-bottom: 1px solid #dcdcdc;
  padding-top: 10px;
  padding-bottom: 10px;
}
container {
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 1px solid #dcdcdc;
  min-height: 360px;
}
aside {
  background-color: rgb(245, 245, 245);
  color: #fff;
  float: left;
  border-right: 1px solid #dcdcdc;
}
aside .pure-menu-item {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #dcdcdc;
}
header {
  border-bottom: 1px solid #dcdcdc;
  padding: 10px;
  font-weight: bold;
  color: #777;
}