<div class="experience">
  <h3>Experience</h3>

  <div ng-if="!$ctrl.isEditing">
    <div ng-repeat="item in $ctrl.data" class="experience_item">        
      <div class="header">
        <span class="title">{{ item.title }}</span>
        <span ng-show="item.position" class="position">- {{ item.position }}</span>
      </div>
      <period data="item.period"></period>   
    </div>
  </div>

  <div ng-if="$ctrl.isEditing">
    <div ng-repeat="item in $ctrl.data track by $index" class="experience_item">   
      <span ng-click="$ctrl.removeItem($index)" class="icon icon-trash"></span>
      <div>
        <span>company:</span>
        <editable-field
          field-value="item.title" 
          on-update="$ctrl.update($index, 'title', value)"></editable-field>
      </div>
      <div>
        <span>position:</span>
        <editable-field
          field-value="item.position" 
          on-update="$ctrl.update($index, 'position', value)"></editable-field>
      </div>
      <div>
        <period 
          data="item.period"
          is-editing="$ctrl.isEditing"
          on-update="$ctrl.update($index, 'period', value)"></period>
      </div>
    </div>  
    <span ng-click="$ctrl.addItem()" class="icon icon-plus"></span>
  </div>

</div>