<app>

  <header>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Administration Panel</a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#user" class="dropdown-toggle">
                <span class="icon icon-user" if={ !api.getUser().img }></span>
                <span class="user-icon" if={ api.getUser().img }><img src={ api.getUser().img }></span>
                { api.getUser().email } <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#user">Settings</a></li>
                <li class="divider"></li>
                <li><a href="#logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
  </nav>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="sidebar">
          <ul class="nav">
            <li>
              <a href="#portfolio">Portfolio</a>
            </li>
            <li>
              <a href="#blog">Blog posts</a>
            </li>
          </ul>
          <ul class="nav">
            <li>
              <a href="#settings">Settings</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <div id="outlet" class="content"></div>
      </div>
    </div>      
  </div>

  <script>
    _.log('App:init()')

    var self = this

    loadView(viewName, id) {
      _.log('App:loadView()', viewName)
      if (self.currentView) {
        self.currentView.unmount(true)
      }
      self.currentView = riot.mount('#outlet', viewName, { _id: id })[0]
      self.currentView.parent = self
    }

    studyRoute(view, id) {
      _.log('App:route()', view)
      if (!api.isAuth()) {
        self.afterAuth = view + (id ? '/' + id : '')
        return self.loadView('login')
      }
      switch(view) {
        case 'login':
          self.loadView('login')
          break
        case 'dashboard':
          self.loadView('dashboard')
          break
        case 'portfolio':
          if (id == null) self.loadView('portfolio-list')          
          else self.loadView('portfolio-edit', id)          
          break
        case 'blog':
          self.loadView('blog')
          break
        case 'settings':
          self.loadView('settings')
          break
        case 'user':
          self.loadView('user')
          break
        case 'logout':
          api.logout(function() { self.loadView('login') })
          break       
        default:
          riot.route('dashboard')
      }
      _.each(_.$$('a[href^="#"]'), function(a) {
        a.classList[a.hash.substr(1) == view ? 'add' : 'remove']('active')
      })
      window.scrollTo(0, 0)
    }

    riot.route(self.studyRoute)

    this.on('mount', function() {
      riot.route.exec(self.studyRoute)
    })

    dropdown(e) {
      e.currentTarget.classList.toggle('open')
    }
  </script>
</app>