*, *::before, *::after {
  box-sizing: border-box;
  position: relative;
}
html, body, #root, .container {
  height: 100%;
}
a {
  color: #2980b9;
  text-decoration: none;
}
a:hover {
  color: #3498db;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: "Segoe UI", "Open Sans", Tahoma, sans-serif;
}
a:focus {
  box-shadow: 0 0 0 1px rgba(87,85,217,.2);
}