*, *::before, *::after {
  box-sizing: border-box;
  position: relative;
}
html, body, #root, .container {
  height: 100%;
}
a {
  color: #00adff;
  text-decoration: none;
}
a:hover {
  color: #3498db;
}
body {
  margin: 0;
  padding: 15px;
  line-height: 1.4;
  font-size: 14px;
  color: #444444;
  font-family: "Segoe UI", "Open Sans", Tahoma, sans-serif;
}
a:focus {
  box-shadow: 0 0 0 1px rgba(87,85,217,.2);
}
.main {
  max-width: 920px;
}
.main .content {
  padding: 20px 0;
}
.title {
  margin: 20px 5px 5px;
  font-size: 17px;
}
.tabs {
}
.tabs .tab {
  border-bottom: 2px solid transparent;
  display: inline-block;
  padding: 10px;
  color: #777777;
}
.tabs .tab.active {
  border-bottom-color: #eeeeee;
  color: #000000;
}
.loader {
  display: inline-block;
  margin: 10px;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.loader,
.loader::after,
.loader::before {
  animation: loaderFade 0.9s ease-in-out infinite;
}
.loader::after, .loader::before {
  position: absolute;
  left: 100%;
  width: 5px;
  height: 5px;
  margin-left: 5px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  vertical-align: middle;
  animation-delay: 0.3s;
  content: "";
}
.loader::before {
  left: 200%;
  margin-left: 10px;
  animation-delay: 0.6s;
}
@keyframes loaderFade {
  50% { background-color: rgba(0, 0, 0, 1) }
  0%, 100% { background-color: rgba(0, 0, 0, 0.2) }
}
table {
  border-collapse: collapse;
}
table thead th {
  color: #444;
  padding: 10px;
  text-align: left;
}
table td {
  padding: 12px 10px;
}
tbody tr:first-child {
  border-top: 2px solid #eeeeee;
}
tbody tr {
  border-bottom: 1px solid #eeeeee;
}
dl::after {
  display: table;
  clear: both;
  content: "";
}
dl {
  margin: 0;
  padding: 10px 0;
}
dl dt, dl dd {
  display: block;
  margin: 0;
  padding: 0 10px;
}
dl dt {
  float: left;
  width: 100px;
  text-align: right;
  color: #999999;
  font-size: 14px;
}
dl dd {
  overflow: hidden;
}
dl dd p:first-child {
  margin-top: 0;
}