html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* helping */

[hidden] {
  display: none !important;
}

.pull-right {
  float: right;
}

.block {
  display: block;
  width: 100%;
}

.text-center {
  text-align: center;
}

/* grid */

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

.row::before,
.row::after,
.container::before,
.container::after,
nav::before,
nav::after {
  content: "";
  display: table;
}

.row::after,
.container::after,
nav::after {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
  

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.col-1 {
  width: 8.33333333%;
}

.col-2 {
  width: 16.66666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333333%;
}

.col-5 {
  width: 41.66666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333333%;
}

.col-8 {
  width: 66.66666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333333%;
}

.col-11 {
  width: 91.66666667%;
}

.col-12 {
  width: 100%;
}

.col-offset-11 {
  margin-left: 91.66666667%
}

.col-offset-10 {
  margin-left: 83.33333333%
}

.col-offset-9 {
  margin-left: 75%
}

.col-offset-8 {
  margin-left: 66.66666667%
}

.col-offset-7 {
  margin-left: 58.33333333%
}

.col-offset-6 {
  margin-left: 50%
}

.col-offset-5 {
  margin-left: 41.66666667%
}

.col-offset-4 {
  margin-left: 33.33333333%
}

.col-offset-3 {
  margin-left: 25%
}

.col-offset-2 {
  margin-left: 16.66666667%
}

.col-offset-1 {
  margin-left: 8.33333333%
}

/* titles */

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}


h1 {
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 30px;
}

h2 {
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
}

h3 {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h5 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* paragraph & typographic */

p {
  line-height: 1.4;
  margin-bottom: 25px;
}

/* navigations */

nav {}

nav a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: inherit;
}

nav a:hover {
  text-decoration: underline;
}

nav.inline a {
  float: left;
}

/* forms */

input[type="text"],
input[type="password"],
textarea {
  display: block;
  width: 100%;
  background-color: #fbfbfb;
  border: 2px solid #ddd;
  border-radius: 5px;
  font: inherit;
  color: #666;
  padding: 8px 12px;
  margin-bottom: 15px;
}

  input[type="text"]:focus,
  input[type="password"]:focus {
    outline: none;
    background-color: #fff;
    border-color: #00adff;
    color: #444;
  }

/* buttons */

button, .btn {
  text-align: center;
  display: inline-block;
  background-color: #bdc3c7;
  border: none;
  border-radius: 3px;
  font: inherit;
  padding: 13px 20px;
  color: #fff;
  cursor: pointer;
} 

  button.block, .btn.block {
    display: block;
  }

  button:hover, .btn:hover {
    background-color: #cacfd2;
  }
