<portfolio-list class="portfolio-list">
	<div class="panel panel-default">
		<div class="panel-heading text-right">
      <a href="#portfolio/0" class="btn btn-primary" onclick={ create }>New</a>   
    </div>
    <div class="panel-body">
      <a href="#portfolio/{ id }" class="panel panel-default panel-hover panel-{ work.status }" each={ id, work in works }>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-8">{ work.title }</div>
            <div class="col-md-2">{ work.status }</div>            
            <div class="col-md-2"><small>{ _.date(work.date, 'd M Y, D') }</small></div>
          </div>
        </div>
      </a>
    </div>
  </div>  

  <script>
		_.log('Portfolio:init()')
    var self = this

    api.getWorks(function(works) {
      self.works = works
      self.update()
    })
	</script>
</portfolio-list>