/*==========  Desktop First Method  ========== */
@media only screen and (max-width: 1850px) {
  h1 {
    font-size: 70px;
  }
  h1 + span {
    font-size: 18px;
  }

  h2 {
    font-size: 42px;
  }

  header {
    padding-top: 7px;
    padding-bottom: 25px;
  }
  header::before, header::after {
    border-width: 78px 60px;
  }

  .button {
    left: 50%;
    margin-left: -205px;
  }

  .logo {
    margin-left: -860px;
    width: 690px;
    top: 0;
  }

  .main-menu {
    margin-left: -507px;
    bottom: 20px;
  }
  .main-menu i {
    height: 70px;
    background-position: -2px 10px;
  }
  .main-menu i.icon-gallery {
    background-position: -2px -74px;
  }
  .main-menu i.icon-price {
    background-position: -2px -158px;
  }
  .main-menu i.icon-connect {
    background-position: -2px -241px;
  }
  .main-menu a > span > span {
    line-height: 70px;
  }

  .connect .content, .gallery .content {
    padding: 0;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1250px) {
  .main-menu {
    display: none;
  }

  .text {
    padding: 0 40px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .container {
    width: 100%;
  }

  .logo {
    position: absolute;
    width: 350px;
  }

  header {
    position: absolute;
    margin: 35px -10px 0;
    width: 100%;
    padding: 25px 0 20px;
    -webkit-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  header::before, header::after {
    border-width: 0;
    width: 15px;
    height: 100%;
    background: inherit;
  }
  header::before {
    left: 99%;
  }
  header::after {
    right: 99%;
  }

  h1 {
    font-size: 38px;
    margin: 0;
  }
  h1 + span {
    font-size: 10px;
  }

  .button {
    font-size: 24px;
    line-height: 95px;
    padding: 0 32px;
    top: 323px;
    margin-left: -145px;
  }

  section {
    position: relative;
    min-height: 530px;
  }

  .main {
    background-image: url(../img/main_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25%;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*Disable Animation on Mobile Devices */
  .animated {
    /*CSS transitions */
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms */
    /*CSS animations */
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* */
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */
}
/*==========  Mobile First Method  ========== */
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /* */
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* */
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* */
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  a {
    outline: none !important;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1250px) {
  /* CSS Scrol */
  html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  section {
    float: left;
    display: block;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .container, .content {
    height: 100%;
  }

  .horizon-prev, .horizon-next {
    position: fixed;
    top: 50%;
    margin-top: -24px;
    z-index: 9999;
  }

  .horizon-prev {
    left: 20px;
  }

  .horizon-next {
    right: 20px;
  }
}
