@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600&subset=latin,cyrillic);
@import url(bootstrap.css);

app {
  display: block;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 0;
  color: #444;
  background-color: #eee;
}
tr th {
  background-color: #dddddd;
}
a.panel {
  display: block;
  color: #444;
  transition: background-color 0.1s, border-color 0.1s;
}
a.panel:hover {
  background-color: rgba(52, 152, 219, 0.1);
  border-color: #3498db;
}
#authenticate {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  height: 100%;
}
.login-form {
  position: relative;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 320px;
  margin: 0 auto 0;
  background-color: #fff;
  top: 50%;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.3);
  border: 1px solid #dcdcdc;
}
.sidebar .nav {
  margin-bottom: 15px;
}
.sidebar .nav > li > a {
  background-color: #2d2b32;
  color: #767676;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  padding: 15px;  
}
.sidebar .nav > li + li {
  border-top: 1px solid #555;
}
.sidebar .nav > li:first-child > a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.sidebar .nav > li:last-child > a {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.sidebar .nav > li > a:hover, 
.sidebar .nav > li > a.active {
  background-color: #28262c;
  color: #fafafa;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.modal-footer .btn {
  min-width: 70px;
}
.portfolio-list a.panel {
  margin-bottom: 5px;  
}
.panel-published {
  border-color: #bce8f1;  
}
textarea[name="summary"],
textarea[name="content"] {
  font-family: Consolas, monospace;
  font-size: 14px;
}
.navbar .user-icon {
  display: inline-block;
  width: 36px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -8px;
  margin-bottom: -13px;
  margin-right: 5px;
}
.navbar .user-icon img {
  max-width: 100%;
}

#noty-container {
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 300px;
}
#noty-container .alert {
  font-size: 14px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.45);
  margin-bottom: 10px;
  cursor: pointer;
}
#noty-container > div.error {
  background-color: #ED5E5E;
  border-color: #883B3B;
  color: #ffffff;  
}
#loader {
  -webkit-transition: visibility .2s, opacity .2s;
  transition: visibility .2s, opacity .2s;
  position: fixed;
  background: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
}
#loader.in {
  opacity: 1;
  visibility: visible;
}
#loader span {
  -webkit-animation: run .9s infinite;
  animation: run .9s infinite;
  position: absolute;
  width: 8px;
  height: 8px;
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  margin-top: -4px;
  margin-left: -4px;
  opacity: 0;
}
@-webkit-keyframes run {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
}
@keyframes run {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
}
#loader span:first-child {
  margin-left: -18px;
}
#loader span:nth-child(2) {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
#loader span:last-child {
  margin-left: 10px;
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}
.icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: -0.5em;
}
.icon-user {
  background: url("icons/ei-user.svg");
}
.icon-lock {
  background: url("icons/ei-lock.svg");
}
.icon-envelope {
  background: url("icons/ei-envelope.svg");
}