* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

button {
  border: 1px solid #dcdcdc;
  padding: 8px 12px;
  background-color: #f5f5f5;
  border-radius: 4px;
  font: inherit;
  cursor: pointer;
}

.start {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .desc {
    margin-bottom: 8px;
    font-size: 16px;
    text-align: center;
  }
  input {
    border: 1px solid #dcdcdc;
    font-family: inherit;
    background: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
  }
}

.editor {
  padding: 16px;
  .header {
    padding: 8px 0;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    align-items: center;
    button {
      margin-left: auto;
    }
  }
  table {
    width: 100%;
    display: block;
    border-collapse: collapse;
    tr {
      &:nth-child(even) {
        td {
          background-color: #f5f5f5;
        }
      }
      td {
        font-size: 12px;
        padding: 4px 8px;
        &:nth-child(2),
        &:nth-child(3) {
          width: 50%;
        }
        textarea {
          padding: 8px;
          border: 1px solid #dcdcdc;
          width: 100%;
        }
      }
    }
    .section {
      margin-bottom: 24px;
    }
    .title {
      font-size: 16px;
      font-weight: 500;
      padding: 8px 0;
    }
  }
}
