html {
  font-family: 'Open Sans', Trebuchet, Arial, sans-serif;
  line-height: 1.4;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
}
body {
  padding: 0;
  margin: 15px auto;
  max-width: 640px;
  color: #444;
  background: #fbfbfb;
}
a {
  transition: .15s;
  color: #4d6d8c;
  border-bottom: 1px dotted;
  text-decoration: none;
}
a:hover {
  color: #78a9d8;
  border-bottom-color: transparent;
}
h1, h2, h3, h4, h5 {
  font-weight: 600;
  margin: .8em 0;
  font-size: 2.2em;
}
h2 {
  font-size: 1.6em;  
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: .9em;
}
.logo {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 1.4em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1em
}
.logo a {
  border-bottom: none;
  color: #444;
}
.page {
  display: none;
}
.page.active {
  display: block;
}

.post {
  margin-bottom: 1em;
}
.post h3 {
  margin: 0;
}
.post h3 a {
  text-shadow: 0 1px 0 #fff;
  font-weight: 400;
  border-bottom: none;
}
.post .meta {
  text-align: right;
  text-transform: capitalize;
  font-size: 0.8em;
  color: #777;
}
pre, code {
  font-family: Consolas, monospace;
  font-size: 13px;
  line-height: 1.4;
}
pre {  
  overflow: auto;
}