:root {
  --main-color: #4CAF50;
}
* {
  position: relative;
  box-sizing: inherit;
}
html {
  font-size: 20px;
}
body {
  margin: 0;
  padding: 0 .75rem;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #444444;
  font-size: .8rem;
  background-color: #f5f5f5;
}
[disabled] {
  opacity: .4;
}
h1 {
  font-size: 2.5rem;
  margin: 1rem 0 0;
  font-weight: 300;
}
h2 {
  font-size: 1.2rem;
  margin: 0 0 2rem;
  font-weight: 300;
  color: var(--main-color);
}
h3 {
  font-size: .8rem;
  margin: 2.5rem 0 .5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--main-color);
}
hr {
  height: .2rem;
  margin: 2rem 0;
  border: none;
  background: var(--main-color);
}
input[type=text],
select {
  display: inline-block;
  padding: .3rem;
  font: inherit;
  color: inherit;
  font-size: inherit;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: .1rem;
  margin-bottom: .2rem;
}
select {
  padding: .2rem .3rem;
}
body::before,
body::after {
  position: fixed;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s .4s, visibility .4s .4s;
  content: "";
}
body::before {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
}
body::after {
  left: 50%;
  top: 50%;
  width: 36px;
  height: 36px;
  border: 2px solid;
  border-color: #ff9800 transparent;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.05);
  animation: rotateAinimation 1s infinite;
}
@keyframes rotateAinimation {
  from {
    trandsform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
body[ng-cloak]::before,
body[ng-cloak]::after,
body.preloader::before,
body.preloader::after {
  opacity: 1;
  visibility: visible;
}
.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  opacity: .5;
  vertical-align: -.4rem;
}
.icon:hover {
  opacity: .75;
}
.icon:active {
  opacity: 1;
}
.icon-edit {
  background: url(icons/edit.svg);
}
.icon-trash {
  background: url(icons/trash.svg);
}
.icon-reset {
  background: url(icons/reset.svg);
}
.icon-save {
  background: url(icons/save.svg);
}
.icon-plus {
  background: url(icons/plus.svg);
}
.icon-x {
  background: url(icons/x.svg);
}
.table {
  display: table;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
  padding-right: .5rem;
}
.container {
  border-radius: 2px;
  background: #ffffff;
  max-width: 40rem;
  padding: 1rem 2rem;
  margin: 0 auto;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.02), -1px 2px 3px rgba(0, 0, 0, 0.02);
}
.address_lines {
  font-size: .7rem;
  margin-bottom: 1rem;
}
.address_lines input[type=text],
.experience input[type=text] {
  min-width: 15rem;
}
.contacts {
  font-size: .7rem;
}
.contact .title {
  font-weight: 500;
}
.circles .circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid var(--main-color);
  border-radius: 50%;
  margin-right: .5rem;
}
.circles.edit-mode .circle {
  cursor: pointer;
}
.circles .circle.filled {
  background: var(--main-color);
}
.experience .experience_item,
.education .education_item {
  margin-bottom: 1.5rem;
}
.experience_item .title,
.education_item .title {
  font-weight: 700;
}
.experience_item .position {
  font-style: italic;
}
.experience_item .description {
  white-space: pre-wrap;
  font-size: .7rem;
  margin-top: .5rem;
}
.edit-cv {
  position: absolute;
  top: .5rem;
  right: 2rem;
}
@media (max-width: 380px) {
  .table-cell {
    display: block;
  }
  .container {
    padding: 1rem;
  }
}