<body>

  <input id="page-toggle-chk" type="checkbox" hidden>

  <div class="window">
    <div class="top-bar">      
      <label for="page-toggle-chk" class="left-action">
        <div class="line line-1"></div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>
      </label>
      <div class="mid-text">
        <div class="title page-front-title">Online Radio</div>
        <div class="title page-saved-stations-title">All stations</div>
      </div>
      <span id="playButton" class="right-action" onclick={ togglePlay }>
        <div class="line line-1"></div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>
      </span>
    </div>
    <div class="page page-front">
      <div class="cover">
        <div class="img" style="background-image: url({ stationInfo.img })" if={ stationInfo.img }></div>
        <ul class="tool-buttons bitrates">
          <li class="bitrate-{ val }" each={ opts.rates } onclick={ setBitrate }>{ name }</li>
        </ul>
        <div class="current-station-text"></div>
        <div class="current-station-name-bar">
          <div class="left-action icon-backward" onclick={ prevStation }></div>
          <div class="mid-text">{ stationInfo.name }</div>
          <div class="right-action icon-forward" onclick={ nextStation }></div>
        </div>
        <div class="sound-bars">
          <div class="bar wave-{ Math.floor(Math.random() * 10 + 1) }" each={ new Array(50) }></div>
        </div>
      </div>
      <div class="swipe-bar load-transition load-transition-delay-2">
        
      </div>
      <div class="volume-bar">
        <div class="left-icon icon-volume"></div>
        <input id="volumeControl" type="range" class="range" oninput={ setVolume }/>
      </div>
    </div>
    <div class="page page-saved-stations">
      <menu class="station-list">
        <ul>
          <li each={ opts.stations } class="station-{ code }">
            <span class="link" onclick={ setStation }>
              { name }              
              <div class="bar-bouncer">
                <div class="bar bar1"></div>
                <div class="bar bar2"></div>
                <div class="bar bar3"></div>
              </div>
            </span>
          </li>
        </ul>
      </menu>
    </div>
  </div>

  <audio id="audio" onerror={ audioOnError } onabort={ audioOnAbort }></audio>

  <script>

    var self = this,
      db = _.storage(opts.appName)

    self.currentBitrate = +db.get('bitrate') || 320
    self.currentStation = db.get('station') || 'tm'
    self.volumeControl.value = (+db.get('volume') || 0.5) * 100
    self.audio.volume = self.volumeControl.value / 100
    self.isPlaying = false
    self.audio.preload = false
    self.stationInfo = {}

    init() {
      self.setSource()
      self.setActiveBitrate()
      setInterval(self.checkAudioState, 1000)
    }

    setSource() {
      var stationProps = _.find(opts.stations, 'code', self.currentStation)
      self.audio.src = opts.url + stationProps.port[self.currentBitrate] + '/' + self.currentStation + '_' + self.currentBitrate
      self.stationInfo = {
        code: stationProps.code,
        name: stationProps.name,
        img: 'assets/img/' + self.currentStation + '.jpg'
      }
      self.update()      
      self.audio.play()
      self.isPlaying = true
      _('.window').addClass('play')
      self.setActiveStation()      
      db.set('station', self.currentStation)
    }

    setStation(e) {
      if (e.item.code == self.currentStation) return
      self.currentStation = e.item.code  
      self.setSource()
      self['page-toggle-chk'].checked = false
    }

    togglePlay() {
      if (self.isPlaying) {
        self.audio.pause()
        _('.window').removeClass('play')
        self.isPlaying = false
      } else {
        self.audio.load()
        self.audio.play()
        _('.window').addClass('play')
        self.isPlaying = true
      }
    }

    prevStation() {
      var i = self.currentStationIndex() - 1
      if (i < 0) i = opts.stations.length - 1
      self.currentStation = opts.stations[i].code
      self.setSource()
    }

    nextStation() {
      var i = self.currentStationIndex() + 1
      if (i >= opts.stations.length) i = 0
      self.currentStation = opts.stations[i].code
      self.setSource()
    }

    setBitrate(e) {
      if (e.item.val == self.currentBitrate) return
      self.currentBitrate = e.item.val
      self.setSource()
      self.setActiveBitrate()
      db.set('bitrate', self.currentBitrate)
    }

    setActiveBitrate() {
      _('.bitrates li').removeClass('active')
      _('.bitrate-' + self.currentBitrate).addClass('active')
    }

    setActiveStation() {
      _('.station-list li').removeClass('active')
      _('.station-list .station-' + self.currentStation).addClass('active')      
    }

    setVolume(e) {
      self.audio.volume = e.target.value / 100;
      db.set('volume', self.audio.volume)
    } 

    // checkTrackInfo() {
    //   var url = 'http://www.radiorecord.ru/xml/' + self.station + '_online_v8.txt'
    //   _.get(url, function(data) {
    //     data = JSON.parse(data)
    //     console.log(url, data)
    //     if (self.trackInfo.title != data.title)
    //       self.trackInfo = data
    //   })
    // }

    audioOnError(e) {
      console.log('audio error')
    }

    audioOnAbort(e) {    
      console.log('audio abort')
    }

    checkAudioState() { 
      if (self.audio.networkState === self.audio.NETWORK_IDLE && self.isPlaying) {
        console.log("reload audio")       
        self.audio.load()
        self.audio.play()
      }
    }

    currentStationIndex() {
      return opts.stations.indexOf(_.find(opts.stations, 'code', self.currentStation))
    }

    self.on('mount', self.init);    

  </script>
</body>