<body>

  <input id="page-toggle-chk" type="checkbox" hidden/>

  <div class="window">
    <div class="top-bar">      
      <label for="page-toggle-chk" class="left-action">
        <div class="line line-1"></div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>
      </label>
      <div class="mid-text">
        <div class="title page-front-title">Online Radio</div>
        <div class="title page-saved-stations-title">All stations</div>
      </div>
      <span id="playButton" class="right-action" onclick={ togglePlay }>
        <div class="line line-1"></div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>
      </span>
    </div>
    <div class="page page-front">
      <div class="cover">
        <div class="img" style="background-image: url({ stationInfo.img })" if={ stationInfo.img }></div>
        <ul class="tool-buttons">
          <li>128 kbps</li>
          <li>320 kbps</li>
        </ul>
        <div class="current-station-text"></div>
        <div class="current-station-name-bar">
          <div class="left-action fi-rewind"></div>
          <div class="mid-text">{ stationInfo.name }</div>
          <div class="right-action fi-fast-forward"></div>
        </div>
        <div class="sound-bars">
          <div class="bar wave-{ Math.floor(Math.random() * 10 + 1) }" each={ new Array(50) }></div>
        </div>
      </div>
      <div class="swipe-bar load-transition load-transition-delay-2">
        
      </div>
      <div class="volume-bar">
        <div class="left-icon icon-volume"></div>
        <input id="volumeControl" type="range" class="range" oninput={ setVolume }/>
      </div>
    </div>
    <div class="page page-saved-stations">
      <menu class="station-list">
        <ul>
          <li each={ opts.stations } class="station-{ code }">
            <span class="link" onclick={ setStation }>
              { name }              
              <div class="bar-bouncer">
                <div class="bar bar1"></div>
                <div class="bar bar2"></div>
                <div class="bar bar3"></div>
              </div>
            </span>
          </li>
        </ul>
      </menu>
    </div>
  </div>

  <audio id="audio" onerror={ audioOnError } onabort={ audioOnAbort }></audio>

  <script>

    this.currentBitrate = +storage('bitrate') || 320
    this.currentStation = storage('station') || 'tm'
    this.volumeControl.value = (+storage('volume') || 0.5) * 100
    this.audio.volume = this.volumeControl.value / 100
    this.isPlaying = false
    this.audio.preload = false
    this.stationInfo = {}

    init() {
      this.setSource()
      setInterval(this.checkAudioState.bind(this), 1000)
    }

    setSource() {
      var stationProps = find(opts.stations, 'code', this.currentStation)
      if (this.currentStation == this.stationInfo.code) return
      this.audio.src = opts.url + stationProps.port[this.currentBitrate] + '/' + this.currentStation + '_' + this.currentBitrate
      this.stationInfo = {
        code: stationProps.code,
        name: stationProps.name,
        img: 'assets/img/' + this.currentStation + '.jpg'
      }
      this.update()      
      this.audio.play()
      this.isPlaying = true      
      this.playButton.classList.add('play')
      this.setActiveStation()
    }

    setStation(e) {
      if (e) {
        this.currentStation = e.item.code     
      }
      this.setSource()
      this['page-toggle-chk'].checked = false
      storage('station', this.currentStation)
    }

    togglePlay() {
      if (this.isPlaying) {
        this.audio.pause()
        this.playButton.classList.remove('play')
        this.isPlaying = false
      } else {
        this.audio.load()
        this.audio.play()
        this.playButton.classList.add('play')
        this.isPlaying = true
      }
    }

    // setBitrate(e) {
    //   self.bitrate = e.item.val
    //   self.setSource()
    //   self.setActiveBitrate()
    // }

    // setActiveBitrate() {
    //   $('.bitrate li').removeClass('active')
    //   $('.bitrate-' + self.bitrate).addClass('active')
    // }

    setActiveStation() {
      $('.station-list li').removeClass('active')
      $('.station-list .station-' + this.currentStation).addClass('active')      
    }

    function find(source, key, val) {
      for (var i = 0; i < source.length; i++) {
        if (source[i][key] == val) 
          return source[i]
      }
    }

    function storage(key, value) {
      var data = JSON.parse(localStorage[opts.appName] || '{}')
      if (arguments.length === 1) {
        return data[key]
      }
      data[key] = value
      return localStorage[opts.appName] = JSON.stringify(data)
    }

    setVolume(e) {
      self.audio.volume = e.target.value / 100;
      storage('volume', self.audio.volume)
    } 

    // checkTrackInfo() {
    //   var url = 'http://www.radiorecord.ru/xml/' + self.station + '_online_v8.txt'
    //   $.get(url, function(data) {
    //     data = JSON.parse(data)
    //     console.log(url, data)
    //     if (self.trackInfo.title != data.title)
    //       self.trackInfo = data
    //   })
    // }

    audioOnError(e) {
      console.log('audio error')
    }

    audioOnAbort(e) {    
      console.log('audio abort')
    }

    checkAudioState() { 
      if (this.audio.networkState === this.audio.NETWORK_IDLE && this.isPlaying) {
        console.log("reload audio")       
        this.audio.load()
        this.audio.play()
      }
    }

    this.on('mount', this.init.bind(this));    

  </script>
</body>