*, *::before, *::after {
  box-sizing: border-box;
  position: relative;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #444;
  padding: 50px 0;
  margin: 0;
  background-color: #f2f3f5;
  overflow-y: scroll;
}
.container {
  position: relative;
  max-width: 800px;
  padding: 0 15px;
  margin: auto;
  overflow: auto;
  white-space: nowrap;
}
a {
  color: #999;
  text-decoration: none;
}
a:hover {
  color: #733003;
}
h1, h2, h3, h4, h5 {
  font-weight: 400;
}
header {
  border-bottom: 1px solid #f60;
  position: fixed;
  z-index: 1;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 0;
  font-size: 14px;
  background: #fff;
}
header a {
  color: #777;
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  transition: color .2s;
}
header a.active,
header a:hover {
  color: #000;
  text-decoration: underline;
}
#app {
  padding: 0 15px;
}
.items-list {
  max-width: 800px;
  margin: 15px auto;
}
.item {
  background-color: #fff;
  padding: 10px 15px;
}
.item:after {
  content: "";
  display: table;
  clear: both;
}
.item:not(:last-child) {
  border-bottom: 1px solid #f5f5f5;
}
.item .inner {
  overflow: hidden;
}
.item .title a {
  color: #58c;
}
.item .title a:hover {
  color: #247;
}
.item .title a:visited {
  color: #777;
}
.item .title a:visited:hover {
  color: #555;
}
.item .title .host,
.item .info {
  color: #999;
  font-size: 12px;
}
.item.more {
  padding: 15px 0 15px 40px;
}
.item.more a {
  color: #f60;
}
.item.more a:hover {
  color: #777;
}
.item.loader {
  height: 50px;
}
.item.loader span,
.item.loader span::before,
.item.loader span::after {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  margin: -4px 0 0 -4px;
  background-color: rgba(255, 102, 0, 1);
  animation: blink .6s infinite linear alternate;
}
.item.loader span::before,
.item.loader span::after {
  top: 4px;
  content: "";
}
.item.loader span::before {
  animation-delay: .2s;
  left: 18px;
}
.item.loader span::after {
  animation-delay: .4s;
  left: 32px;
}
.user-id {
  font-size: 2.2em;
  font-weight: 300;
}
table td {
  padding: 5px;
  vertical-align: top;
}
.text-centered {
  text-align: center;
}
.item-user a {
  display: inline-block;
  padding: 3px 0;
  margin-right: 10px;
}
@keyframes blink {
  to {
    background-color: rgba(255, 102, 0, .2);
  }
}
@media (max-width: 800px) {
  header {
    text-align: center;
  }
}