@font-face {
  font-family: AdvoCut;
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/advocut-webfont.woff);
}
@font-face {
  font-family: GraphicPixel;
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/graphicpixel-webfont.woff);
}
* {
  box-sizing: border-box;
}
body {
  padding: 15px;
  margin: 0;
  background: #222;
}
canvas {
  display: block;
  max-width: 640px;
  cursor: pointer;
  margin: auto;
  box-shadow: 0 0 0 3px #111;
  width: 100%;
}