/*==========  Desktop First Method  ========== */
@media only screen and (max-width: 1690px) {
  /* line 5, ../sass/media.sass */
  h1 {
    font-size: 70px;
  }
  /* line 7, ../sass/media.sass */
  h1 + span {
    font-size: 18px;
  }

  /* line 9, ../sass/media.sass */
  h2 {
    font-size: 42px;
  }

  /* line 11, ../sass/media.sass */
  header {
    padding-top: 6px;
    padding-bottom: 30px;
  }
  /* line 14, ../sass/media.sass */
  header::before, header::after {
    border-width: 78px 41px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /* line 19, ../sass/media.sass */
  .main-mnu {
    display: none;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /* */
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*Disable Animation on Mobile Devices */
  /* line 34, ../sass/media.sass */
  .animated {
    /*CSS transitions */
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms */
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations */
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* */
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */
}
/*==========  Mobile First Method  ========== */
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /* */
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* */
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* */
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* */
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1250px) {
  /* line 89, ../sass/media.sass */
  .container {
    width: 1250px;
  }

  /* */
}
@media only screen and (min-width: 1690px) {
  /* line 95, ../sass/media.sass */
  .container {
    width: 1680px;
  }

  /* line 98, ../sass/media.sass */
  .col-hlg-8 {
    width: 66.66667%;
  }

  /* line 100, ../sass/media.sass */
  .col-clg-10 {
    width: 83.33333%;
  }

  /* line 102, ../sass/media.sass */
  .col-hlg-offset-2 {
    margin-left: 16.66667%;
  }
}
