body {
  font-family: system-ui, "Segoe UI", Tahoma;
  font-size: 14px;
}
button {
  font: inherit;
  background: #f0f0f0;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  padding: 4px 8px;
  cursor: pointer;
}
a {
  color: #444;
}
.flex, 
.flex-cy {
  display: flex;
}
.flex-cy {
  align-items: center;
}
#dbList a {
  display: block;
  padding: 4px 12px;
  cursor: pointer;
  font-family: monospace;
  font-size: 12px;
  margin-left: 8px;
}
table {
  display: block;
  width: 100%;
  border-collapse: collapse;
}
table th,
table td {
  padding: 8px;
  font-size: 14px;
  text-align: left;
  border-bottom: 1px solid #dcdcdc;
}