html {
  font-family: 'Open Sans', Trebuchet, Arial, sans-serif;
  line-height: 1.4;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
}
body {
  padding: 0;
  margin: 0;
  color: #444;
  background: #fbfbfb;
}
a {
  transition: .15s;
  color: #4d6d8c;
  border-bottom: 1px dotted;
  text-decoration: none;
}
a:hover {
  color: #78a9d8;
  border-bottom-color: transparent;
}
h1, h2, h3, h4, h5 {
  font-weight: 600;
  margin: .8em 0;
  font-size: 2.2em;
}
h2 {
  font-size: 1.6em;  
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: .9em;
}
.header {
  padding: 5em 0;
  background: url(../img/bg_3.jpg) center;
  background-size: cover;
  margin-bottom: 5em;
}
.header h1 {  
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 3em;
}
.header h1 a {
  border-bottom: none;
  color: #fff;
}
.container {
  max-width: 720px;
  margin: 0 auto;
}
.page {
  display: none;
}
.page.active {
  display: block;
}

.post {
  margin-bottom: 1em;
}
.post h2 {
  margin: 0;
  font-size: 2em;
}
.post h2 a {
  text-shadow: 0 1px 0 #fff;
  font-weight: 400;
  border-bottom: none;
}
.post .meta {
  text-align: right;
  text-transform: capitalize;
  font-size: 0.8em;
  color: #777;
}
pre, code {
  font-family: Consolas, monospace;
  font-size: 13px;
  line-height: 1.4;
}
pre {  
  overflow: auto;
}