.auth-form {
  width: 260px;
  margin: 100px auto 0;
}
.auth-form h3 {
  text-align: center;
}
#alerts {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 560px;
}
.container {
  max-width: 960px;
  padding: 0 15px;
}
.main-header {
  padding-top: 10px;
  height: 54px;
  border-bottom: 1px solid #f0f0f0;
}