body {
  background: #f0f2f7;
}
#alerts {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 560px;
  z-index: 999;
}
.container {
  display: block;
  padding: 0 15px;
}
.main-header {
  padding-top: 10px;
  height: 54px;
  border-bottom: 1px solid #f0f0f0;
  background: #fff;
}
.sidebar {
  position: fixed;
  top: 53px;
  left: 0;
  bottom: 0;
  width: 260px;
  background: #222233;
}
.sidebar .nav {
  padding: 10px 10px 10px 20px;
}
.sidebar .nav-item a {
  display: block;
  color: #fff;
  padding: 1rem;
}
router.container {
  display: block;
  padding-left: 275px;
}
.muted {
  color: #ccc;
}
.navbar a.active:not(.navbar-brand),
.nav .nav-item a.active {
  font-weight: 700;
}
.nav .nav-item a.active:focus,
.nav .nav-item a.active:hover {
  color: #5764c6;
}
[onclick] {
  cursor: pointer;
}
a.card:hover {
  text-decoration: none;
  border-color: #dee3f1;
}
.field-types label [type=radio] {
  display: none;
}
.modal-add-collection .modal-container {
  width: 420px;
}
.modal-add-field .modal-container {
  width: 360px;
}