<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Title</title>
  <link rel="stylesheet" href="https://unpkg.com/spectre.css@0.4.2/dist/spectre.min.css">
  <style>
    [v-cloak] {
      display: none;
    }
    #sign_in {
      width: 240px;
      margin: 100px auto;
    }
    #items_table {
      max-width: 720px;
      padding: 15px;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <div id="app" v-cloak>

    <div id="sign_in" v-if="!user">
      <form id="sign_in_form">
        <p class="text-center">You are not authorized<br>Please, sign in</p>
        <div class="form-group">
          <label class="form-label" for="input_email">Your email</label>
          <input class="form-input" type="email" v-model="email" required>
        </div>
        <div class="form-group">
          <label class="form-label" for="input_password">Your password</label>
          <input class="form-input" type="password" v-model="password" required>
        </div>
        <div class="text-center">
          <button class="btn" v-on:click.prevent="signInFormSubmit">Send</button>
        </div>
      </form>
    </div>

    <div id="items_table" v-if="user">
      <header class="navbar">
        <section class="navbar-section">You autorized as: {{user.first_name}} {{user.last_name}}</section>
        <section class="navbar-center"></section>
        <section class="navbar-section">
          <span class="btn btn-link" v-on:click="signOut">Sign out</span>
        </section>
      </header>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Genre</th>
            <th>Release date</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in items">
            <td>{{item.name}}</td>
            <td>{{item.genre.join(', ')}}</td>
            <td>{{item.release}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <script src="https://unpkg.com/vue@2.5.9/dist/vue.min.js"></script>
  <script>
    new Vue({
      el: "#app",
      data: {
        user: null,
        email: "test@test.com",
        password: "123",
        token: localStorage.token,
        items: null
      },
      created: function() {
        var self = this
        if (self.token) {
          self.user = JSON.parse(atob(self.token.split(".")[1]))
          self.getItems()
        }
      },
      methods: {
        signInFormSubmit: function() {
          var self = this
          request("server.php", {
            method: "POST",
            body: {
              email: self.email,
              password: self.password
            }
          }, function(error, response) {
            if (error) {
              console.log("Auth error:", error)
            } else {
              localStorage.token = response.token
              self.token = response.token
              self.user = JSON.parse(atob(self.token.split(".")[1]))
              self.getItems()
            }
          })
        },
        signOut: function() {
          this.token = null
          this.user = null
          this.items = null
          localStorage.removeItem("token")
        },
        getItems: function() {
          var self = this
          request("server.php", {
            method: "GET",
            token: self.token
          }, function(error, response) {
            if (error) {
              if (error == "TOKEN_INVALID") {
                localStorage.removeItem("token")
                self.token = null
                self.user = null
              }
              console.log(error)
            } else {
              self.items = response.items
            }
          })
        }
      }
    })

    function request(path, params, callback) {
      var xhr = new XMLHttpRequest()
      xhr.open(params.method, path, true)
      if (params.token) {
        xhr.setRequestHeader("Authorization", "Bearer " + params.token)
      }
      xhr.onload = function() {
        if (xhr.status >= 200 && xhr.status < 400) {
          try {
            var data = JSON.parse(xhr.responseText)
          } catch (e) {
            return callback({ type: "JSON_PARSE_ERROR", e: e }, null)
          }
          if (data.error) {
            callback(data.error, null)
          } else {
            callback(null, data)
          }
        } else {
          callback({ type: "REQUEST_SERVER_ERROR", status: xhr.status }, null)
        }
      }
      xhr.onerror = function(e) {
        callback({ type: "REQUEST_CONNECTION_ERROR", e: e }, null)
      }
      xhr.send(params.body ? JSON.stringify(params.body) : null)
    }
  </script>
</body>
</html>