<footer>
  <div class="container">
    <div class="pure-g">
      <div class="pure-u-1-2">
        © Copyright 2015 Sergey Melnikov
      </div>
      <div class="pure-u-1-2">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">Главная</a>
          </li>
          <li class="pure-menu-item">
            <a href="#about" class="pure-menu-link">Про меня</a>
          </li>
          <li class="pure-menu-item">
            <a href="#blog" class="pure-menu-link">Блог</a>
          </li>        
          <li class="pure-menu-item">
            <a href="#portfolio" class="pure-menu-link">Портфолио</a>
          </li>
          <li class="pure-menu-item">
            <a href="#contacts" class="pure-menu-link">Контакты</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1-2"></div>
      <div class="pure-u-1-2"></div>
    </div>
  </div>
</footer>