* {
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
}
body {
  background-color: #FBFBFB;
  width: 920px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.4;
}
pre code.hljs {
  padding: 20px;
  border-left: 5px solid rgba(255, 255, 255, 0.1);
}
nav {
  padding: 20px;
  font-size: 16px;
}
nav a {
  margin: 0 10px;
  color: #00adff;
  font-style: italic;
}
nav a:hover {
  color: #95CAE4;
  text-decoration: none;
}
nav a.active {
  text-decoration: none;
  color: #f00;
}