* {
  box-sizing: border-box;
}
body {
  font: 13px/1.5 "Segoe UI", "Open Sans", monospace;
  color: #777;
  padding: 1rem 0;
  margin: 0;
}
label {
  display: block;
  text-transform: uppercase;
  width: 100%;
  margin-top: 1rem;
  font-size: 12px;
  cursor: pointer;
}
input, select {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px dotted #777;
  font: inherit;
  color: inherit;
  padding: 0 0.2rem 0.2rem;
}
select {
  cursor: pointer;
}
input:focus,
select:focus {
  outline: 0;
}
button {
  display: inline-block;
  border: none;
  border-radius: 3px;
  background: #00adff;
  color: #fff;
  font: inherit;
  padding: 5px 12px;
  cursor: pointer;
}
button:hover {
  background: #11bbff;
}
.block {
  display: block;
}
.mt-1 {
  margin-top: 5px;
}
.mt-2 {
  margin-top: 10px;
}
.mb-1 {
  margin-bottom: 5px;
}
.mb-2 {
  margin-bottom: 10px;
}
.container {
  width: 90rem;
  padding: 0 1rem;
}
.card {
  padding: 0.5rem 1rem;
  border: 1px solid #eee;
  border-radius: 3px;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.05), 1px 1px 2px rgba(0, 0, 0, 0.05);
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.col,
.col-2,
.col-3,
.col-4,
.col-5 {
  flex: 1;
  max-width: 100%;
  padding-left: .5rem;
  padding-right: .5rem;
}
.col-2 {
  flex: 2
}
.col-3 {
  flex: 3
}
.col-4 {
  flex: 4
}
.col-5 {
  flex: 5
}
.card-wallet .title {
  text-align: center;
  font-size: 14px;
}
