*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}

body input:required:valid,
body textarea:required:valid {
  color: #666;
}

html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}
html.js .loader .loader_inner {
  background-image: url("../img/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

body {
  font-size: 18px;
  min-width: 320px;
  line-height: 1.25em;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: #252525;
}

.hidden {
  display: none;
}

a, a:hover, a:focus, a:active {
  color: #fff;
  font-family: "Open Sans Condensed", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
}

.headers, h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans" "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  color: #f6f0f0;
}

.before, .header_wrap::before, .header_wrap::after {
  content: " ";
  top: 0;
  position: absolute;
}

.center {
  text-align: center;
}

.ulmnu, .main-menu ul, .footer_menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.logo {
  position: fixed;
  left: 50%;
  top: 20px;
  margin-left: -1210px;
  z-index: 1;
  width: 780px;
}
.logo img {
  width: 100%;
}

h1, h2 {
  font-size: 5em;
  margin-top: 60px;
  margin-bottom: 34px;
}
h1 + span, h2 + span {
  font-family: "Open Sans" "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  text-transform: uppercase;
  word-spacing: 5px;
}

h3 {
  font-size: 3.25em;
  color: #252525;
  margin-bottom: 8px;
  margin-top: 55px;
}

h4 {
  font-size: 2.25em;
  color: #5580cd;
  margin-top: 10px;
}

.main_button {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -267px;
  font-size: 1.875em;
}
.main_button a {
  background-color: #cd3e2f;
  line-height: 4;
  padding: 0 110px;
  display: inline-block;
}

.toggle-menu {
  display: block;
  float: left;
}

.header_wrap {
  width: 100%;
  display: inline-block;
  position: relative;
  padding-bottom: 57px;
  background-color: #252525;
  text-align: center;
}
.header_wrap::before, .header_wrap::after {
  border-width: 98px 80px;
  border-style: solid;
}
.header_wrap::before {
  left: 0;
  border-color: #252525 transparent transparent #252525;
}
.header_wrap::after {
  right: 0;
  border-color: transparent #252525 #252525 transparent;
}

/* Menu Fixed */
.main-menu {
  position: fixed;
  z-index: 100;
  bottom: 90px;
  left: 50%;
  margin-left: -890px;
  font-size: 1.1875em;
}
.main-menu li {
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.main-menu i {
  display: inline-block;
  width: 100px;
  height: 90px;
  vertical-align: bottom;
  background-image: url("../img/icon_menu.png");
  -webkit-transition: background-image 0.5s;
          transition: background-image 0.5s;
  background-position: 0 23px;
  background-repeat: no-repeat;
}
.main-menu i.icon-gallery {
  background-position: 0 -64px;
}
.main-menu i.icon-price {
  background-position: 0 -148px;
}
.main-menu i.icon-connect {
  background-position: 0 -232px;
}
.main-menu a {
  position: relative;
  display: block;
}
.main-menu a:hover i, .main-menu a.active i {
  background-image: url("../img/icon_menu_hover.png");
}
.main-menu a > span {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 8px;
  overflow: hidden;
  background-color: #cd3e2f;
  -webkit-transition: width 0.3s;
          transition: width 0.3s;
}
.main-menu a > span > span {
  position: absolute;
  right: 37px;
  line-height: 90px;
}
.main-menu li:hover a > span {
  width: 152px;
}
.main-menu li:nth-child(2):hover a > span {
  width: 190px;
}
.main-menu li:nth-child(3):hover a > span {
  width: 170px;
}
.main-menu li:nth-child(4):hover a > span {
  width: 171px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #252525;
  color: #6c6c6c;
  font-size: 12px;
  text-transform: uppercase;
}

.footer_menu li {
  display: inline-block;
  padding: 4px 25px;
}
.footer_menu li.copy {
  float: right;
}
.footer_menu li a {
  color: #6c6c6c;
  font-size: 12px;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 400;
}
.footer_menu li a:hover {
  color: #fff;
}
.footer_menu li a.btn {
  color: #cd3e2f;
}
.footer_menu li.language a {
  padding-left: 10px;
  text-decoration: underline;
}
.footer_menu li.language a.active {
  color: #fff;
  text-decoration: none;
}

/* END Menu fixed */
.content {
  position: relative;
}
.content .text {
  padding: 25px 40px;
  text-align: center;
}

.main_section .content {
  background-image: url(../img/main_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main_section .content .text {
  padding: 25px 40px;
  text-align: center;
}

/* About section */
.about .header_wrap {
  background-color: #cd3e2f;
}
.about .content {
  background-image: url(../img/about_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.about .content .text {
  position: absolute;
  bottom: 265px;
}

/* Price section */
.price {
  color: #252525;
}
.price .content {
  background-color: #fff;
  line-height: 1.1;
}
.price .description {
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 50px;
  text-align: left;
}
.price .description a {
  font-family: "Open Sans" "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  display: block;
  height: 90px;
}
.price .inner {
  position: relative;
  font-size: 1.875em;
  color: #fff;
  font-weight: 800;
  line-height: 2.65;
}
.price .inner i {
  display: inline-block;
  text-align: center;
  width: 90px;
  height: 90px;
  margin-right: 2px;
  font-style: inherit;
  background-image: url("../img/dollar.png");
  background-repeat: no-repeat;
  background-position: 70px 7px;
}
.price .inner i + span {
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 0;
  height: 100%;
  z-index: 1;
  text-align: center;
  vertical-align: top;
  -webkit-transition: width 0.3s;
          transition: width 0.3s;
}
.price .inner i + span > span {
  position: absolute;
  right: 85px;
}
.price a:hover .inner > span {
  width: 350px;
}
.price .inner + span {
  display: block;
  position: relative;
  top: -62px;
  margin-left: 57px;
  color: #252525;
  text-align: center;
  text-transform: none;
  font-size: 0.8125em;
  font-weight: 400;
}
.price .blue i, .price .blue span {
  background-color: #5580cd;
}
.price .red i, .price .red span {
  background-color: #cd3e2f;
}
.price .header_wrap {
  background-color: #f8e778;
}
.price h2 {
  color: #252525;
}
.price .text {
  padding: 6px 0;
}
.price p {
  font-size: 0.8125em;
}

/* Gallery section */
.gallery .header_wrap {
  background-color: #5580cd;
}
.gallery .gallery-item {
  padding: 0;
  position: relative;
}
.gallery .gallery-item img {
  width: 100%;
}
.gallery .gallery-item .gal-item-cont {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 1;
}
.gallery .gallery-item .gal-item-cont:hover .gal-item-play {
  opacity: 1;
}
.gallery .gallery-item .gal-item-play {
  display: inline-block;
  height: 80px;
  width: 110px;
  position: relative;
  top: 50%;
  margin-top: -40px;
  background: url("../img/play.png") no-repeat;
  opacity: 0;
  border: 0;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
}

.gal-descr {
  position: relative;
  margin: auto;
  max-width: 600px;
}
.gal-descr img {
  width: 100%;
}

/* Connekt section */
.connect {
  color: #252525;
}
.connect .header_wrap {
  background-color: #fff;
}
.connect .content {
  padding-top: 95px;
  background-color: #fff;
}
.connect .content .data {
  font-size: 20px;
  text-transform: uppercase;
  width: 330px;
  margin: 0 auto;
  color: #fff;
  line-height: 4.4;
}
.connect .content i {
  display: block;
  height: 100px;
}
.connect .content .blue i {
  background: url("../img/icon_skype.png") center no-repeat;
}
.connect .content .blue .data {
  background-color: #5580cd;
}
.connect .content .red i {
  background: url("../img/icon_mail.png") center no-repeat;
}
.connect .content .red .data {
  background-color: #cd3e2f;
}
.connect .content .red h4 {
  color: #cd3e2f;
}
.connect h2 {
  color: #252525;
}

form {
  margin-top: 96px;
  padding: 0 85px;
}
form label, form input, form textarea, form button {
  display: block;
  width: 100%;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  resize: none;
  text-align: center;
}
form input:focus, form textarea:focus {
  outline: 0;
}
form label {
  border-bottom: 1px solid #252525;
  margin-bottom: 16px;
  padding-top: 32px;
}
form button {
  background-color: #252525;
  color: #fff;
  line-height: 4.4;
}

#callback {
  max-width: 740px;
  background-color: #fff;
  margin: auto;
  padding: 55px;
}
#callback .button-wrap {
  margin-top: 50px;
}
#callback .mfp-close {
  color: #000;
  left: 67%;
  top: 2px;
}
